.coupon-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 410px;
  text-align: center;
  transition: box-shadow 0.3s ease;
}
.coupon-container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.coupon-container div h3 {
  text-align: start;
  margin-bottom: 10px;
  color: #333;
  border-bottom: 2px solid #ccc;
  padding: 20px;
  padding-left: 0px;
  margin-top: 0px;
}

.coupon-form input[type="text"] {
  width: calc(100% - 100px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.coupon-form button {
  width: 100px;
  padding: 8px;
  background-color: #f74040;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
}

.coupon-form button:hover {
  background-color: darkred;
}
